.DS_Store

## Xcode
*.xcworkspacedata

## Various settings
**/xcuserdata

## Other
*~

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

**/xcshareddata
